/*-----------------------------------------
mixins
-----------------------------------------*/
@mixin vertical-align {
  position: relative;
  top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

$bs-pink: #ffa3ff;
$bs-blue: #54a4db;
$bs-dark-pink: darken($bs-pink, 10%);
$bs-dark-blue: darken($bs-blue, 10%);

@mixin home-gradient {
  background: -webkit-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* IE10 */
  background:      -o-linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* Opera 11.10+ */
  background:         linear-gradient(30deg, $bs-blue 20%, $bs-pink 90%); /* W3C */
}

// -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100% ) repeat
@mixin text-gradient {
  background: -webkit-linear-gradient(left, $bs-dark-blue 0%, $bs-dark-pink 50%, $bs-dark-blue 100%) repeat; /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(left, $bs-dark-blue 0%, $bs-dark-pink 50%, $bs-dark-blue 100%) repeat; /* FF3.6+ */
  background:     -ms-linear-gradient(left, $bs-dark-blue 0%, $bs-dark-pink 50%, $bs-dark-blue 100%) repeat; /* IE10 */
  background:      -o-linear-gradient(left, $bs-dark-blue 0%, $bs-dark-pink 50%, $bs-dark-blue 100%) repeat; /* Opera 11.10+ */
  background:         linear-gradient(left, $bs-dark-blue 0%, $bs-dark-pink 50%, $bs-dark-blue 100%) repeat; /* W3C */
}


.fade-in {
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
       -moz-animation: fadein 1.5s; /* Firefox */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.scalex {
}
    
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}    
}
    
@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}    
}

.scalex {
  -webkit-animation-name: scalex;
  -webkit-animation-duration:5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in;
  -moz-animation-name: scale;
  -moz-animation-duration:5s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease-in;
  -webkit-transform-origin: 50% 50%;
}
/*-----------------------------------------
Body
-----------------------------------------*/
* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.gradient {
  @include home-gradient;
  background-size: 150% 150%;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  position: absolute;
}

.gradient-animate {
  -webkit-animation: GradientAnimation 10s ease alternate infinite;
  -moz-animation: GradientAnimation 10s ease alternate infinite;
  -o-animation: GradientAnimation 10s ease alternate infinite;
  animation: GradientAnimation 10s ease alternate infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}
@keyframes GradientAnimation { 
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}

@mixin gradient-text-animate {
  -webkit-animation: masked-animation 50s linear infinite;
  -moz-animation: masked-animation 50s linear infinite;
  -o-animation: masked-animation 50s linear infinite;
  animation: masked-animation 50s linear infinite;
}

@-webkit-keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -4000px -1000px;}
}

@-moz-keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -4000px -1000px;}
}

@-o-keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -4000px -1000px;}
}

@keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -4000px -1000px;}
}

.home-body-center {
  @include vertical-align;
  @include text-gradient;
  @include gradient-text-animate;
  padding: 40px 0 40px 0;
  text-align: center;
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  h1 {
    font-family: 'Jacques Francois', serif;
    text-transform: uppercase;
    font-size: 5em;
    line-height: 1em;
  }
  h4 {
    font-size: 2em;
    font-weight: 100;
  }
}

.bs-logo {
  height: auto;
  width: 80px;
  position: absolute;
  bottom: 50px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  visibility: hidden;
}


.teaser {
  margin: 1em auto;
}

.teaser-image {
  width: 20em;
  margin: 0 auto;
}

.teaser-image > svg {
  max-width: 100%;
}