---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient gradient-animate">
  <section class="home-body-center">
  	<h1> book of shadows</h1>
  	<h4>coming soon</h4>
  </section>
  <a href="https://instagram.com/bookofshadows.la/" target="_blank"><img src="../img/bs-logo.svg" class="bs-logo"></a>
</div>
