---
title: Book of Shadows
---

<!-- Add your site or application content here -->
<div class="gradient gradient-animate">
  <section class="home-body-center">
  	<%= partial "animated-gradient-content" %>
  </section>

  <a href="https://instagram.com/bookofshadows.la/" target="_blank">
	<%= partial "bs-logo-icon" %>
  </a>
</div>
